@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bonbon&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
  }
body{
    background: linear-gradient(-85deg, rgba(19,17,16,255), #24344b);
    height: 100vh;
    width: 100%;
}
nav{
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}


#nav-logo{
    flex-grow: 7; 
}
#logo{
    width: 5em;
}
.nav-sections{
    flex-grow: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 10px;
}

.nav-sections a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 0px;
}

#nav-dropdown{ display: none;font-size: 100%;padding: 20px 10px;cursor: pointer;}
#nav-dropdown:hover{background-color: rgba(255, 255, 255, 0.25); border-radius: 50%;align-items: center;justify-content: center;}


.section{
    width: 100%;
    height: 100vh;
}

.hero-section {
    display: flex;

    color: white;
}



.HeroContent {
    margin: auto 0px;
    flex: 1;
    padding: 100px;
    user-select: none;
}

.main-name {
    font-weight: 700;
    color: #80ed99;
}

.specializing {
    color: #85f69f;
}

.heroline {
    font-size: 1.5em;
    font-weight: 300;
    padding-right: 50px;
}

.buttonGroup {
    display: flex;
    padding: 10px 0px;
    margin-top: 10px;
}

.buttonGroup button,.primary{
    padding: 10px 20px;
    border: none;
  
    font-size: 1.22em;
    font-weight: 500;
    margin: 5px;
    cursor: pointer;
    background-color: #1d8637;
    color: white;
    border-radius: 5px;
}



.SideImg {
    width: 30%;
    margin: auto 10px;
    margin-right: 100px;
    position: relative;
    display: flex;
    justify-content: center;
}
.SideImg img{
    width: 100%;
}
.top-right-corner, .bottom-left-corner {
    position: absolute;
}

.bottom-left-corner {
    left: -50px;
    bottom: -50px;
    rotate: -90deg;
}

.top-right-corner {
    right: -50px;
    top: -50px;
    rotate: 90deg;
}

.hr1 {
    width: 150px;
    height: 10px;
    border: none;
    background: #80ed99;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.hr2 {
    width: 10px;
    height: 120px;
    border-bottom-left-radius: 3px;
    background: #80ed99;
    border: none;
    border-bottom-right-radius: 3px;
}






.contactMe {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 80px calc(25% ) calc(25% ) calc(25% ) calc(25% );
    position: relative;
    padding:100px;

}


.contactMe h1 {
    grid-column: 1/span 3;
    font-size:2.5rem;
    padding:30px;
}


.contactMe form {
    grid-area: 2/2/ span 5/span 2;

    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    padding: 20px;
    height: fit-content;
    color: white;
}


.contactinfo {
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
}


.contactinfo i {
    padding: 10px;
    font-size: 2.5rem;
    color: #80ed99;
    margin: 20px auto;
}

.contactinfo h3 {
    color: #80ed99;
}


.contactMe form h2 {
    grid-column: 1/span 2;
    padding: 20px;
    display: flex;
}

.contactMe form input {
    padding: 15px;
    border-radius: 10px;
    margin: 20px;
    font-size: 1.1rem;
    border: none;
    color: white;
    background-color: #212529;

}

.contactMe form input:focus {
    border: 1px solid #85f69f;
    outline: none;

}

.contactMe form textarea {
    width: calc(100% - 40px);

    grid-column: 1/span 2;
    margin: 20px;
    padding: 20px;
    font-size: 1.1rem;
    border-radius: 10px;
    resize: none;
    border:none;
    border: none;
    color:white;
    background-color: #212529;
}

.contactMe form textarea:focus {
    border: 1px solid #85f69f !important;
}
.contactMe button{
    grid-column: 1/span 2;
    margin:20px auto ;

}



footer{
    
    color:white;
    width:100%;
    font-weight: 200;
    font-size: 0.8rem;
}

form h2 .SocialLinks{
    padding:5px;
    width:fit-content;
    margin-left:auto;
    margin-right:10px;
    background-color: #212529;
    border-radius: 30px;
}
form h2 .SocialLinks i{
    padding:10px;
    border-radius: 50%;
    transition-duration: 0.25s;
}
.SocialLinks a{
    color: white;
}
form h2 .SocialLinks i:hover{
    background-color: #176d2d;
}

.about-us{
    overflow: auto;
}


.heading {
    padding: 20px 10px;
    font-size: 2.5rem;
    color: #80ed99;
}




.services {
    color: white;
    display: grid;
    grid-template-columns: repeat(3, calc(33% - 10px));

    padding: 0px 100px ;

}

.services .heading {
    grid-column: 1/span 3;
}

.services .service {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.437);
    border-radius: 5px;
    margin: 20px;
    backdrop-filter: blur(10px);
    flex-direction: column;

    transition-duration: 0.25s;
}

.services .service i {
    font-size: 3rem;
    color:#80ed99
}

.services .service .service-icon {
    padding: 0px 50px;
    border-radius: 5px;
    margin: 20px auto;
}
.service h2{
    color:#80ed99
}
.service:hover {
    background-color: #80ed99;
    color: #176d2d
}
.service:hover h2,.service:hover i{
    color: #176d2d
}










.testimonials {

    display: grid;
    grid-template-columns: repeat(3, calc(33% - 10px));

    padding: 0px 100px ;
   margin-bottom: 20px;
    
}

.testimonials .heading {
    grid-column: 1/span 3;
}

.testimonials .feedbacks {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.437);
    border-radius: 5px;
    margin: 20px;
    backdrop-filter: blur(10px);
    flex-direction: column;

    transition-duration: 0.25s;
}


.testimonials .feedbacks img{width: 100%;}



.feedbacks:hover {
    background-color: #80ed99;
}








.Highlights {
    color: white;
    display: grid;
    grid-template-columns: repeat(3, calc(33% - 10px));
grid-template-rows: 80px 1fr;
    padding: 0px 100px ;

}

.Highlights .heading {
    grid-column: 1/span 3;
}

.Highlights .light {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.437);
    border-radius: 5px;
    margin: 20px;
    backdrop-filter: blur(10px);
    flex-direction: column;

    transition-duration: 0.25s;
}

.Highlights .light i {
    font-size: 3rem;
    color:#80ed99
}

.Highlights .light .service-icon {
    padding: 0px 50px;
    border-radius: 5px;
    margin: 20px auto;
}
.light h2{
    color:#80ed99
}
.light:hover {
    background-color: #80ed99;
    color: #176d2d
}
.light:hover h2,.light:hover i{
    color: #176d2d
}








.Projects {
    color: white;
    display: grid;
    grid-template-columns: repeat(3, calc(33% - 10px));
grid-template-rows: 80px 1fr;
    padding: 0px 100px ;

}

.Projects .heading {
    grid-column: 1/span 3;
}

.Projects .Project {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.437);
    border-radius: 5px;
    margin: 20px;
    backdrop-filter: blur(10px);
    flex-direction: column;

    transition-duration: 0.25s;
}

.Projects .Project i {
    font-size: 3rem;
    color:#80ed99
}

.Projects .Project .Project-icon {
    padding: 0px 50px;
    border-radius: 5px;
    margin: 20px auto;
}
.Project h2{
    color:#80ed99
}
.Project:hover {
    background-color: #80ed99;
    color: #176d2d
}
.Project:hover h2,.Project:hover i{
    color: #176d2d
}





.Skills {
    color: white;
    display: grid;
    grid-template-columns: repeat(3, calc(33% - 10px));
grid-template-rows: 80px 1fr;
    padding: 0px 100px ;

}

.Skills .heading {
    grid-column: 1/span 3;
}

.Skills .skill {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.437);
    border-radius: 5px;
    margin: 20px;
    backdrop-filter: blur(10px);
    flex-direction: column;

    transition-duration: 0.25s;
}

.Skills .skill i {
    font-size: 3rem;
    color:#80ed99
}

.Skills .skill .service-icon {
    padding: 0px 50px;
    border-radius: 5px;
    margin: 20px auto;
}
.skill h2{
    color:#80ed99
}
.skill:hover {
    background-color: #80ed99;
    color: #176d2d
}
.skill:hover h2,.skill:hover i{
    color: #176d2d
}

.skill ul{
list-style-type: none;
}




#canvas-bg {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
  }

  .image-container-pv1 {
    /*background-color: antiquewhite;*/
    position: relative;
  }
  #image-sequence-pv1 {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
  }
